<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="custom-card-body">
        <ng-template #successModalContent let-modal class="modal fade" id="exampleModal-2"
          aria-labelledby="exampleModalLabel-2">
          <div class="modal-content">
            <div class="modal-body">
              <div class="header">
                <i *ngIf="isSuccessPopup" class="mdi mdi-check-circle ICONS"></i>
                <i *ngIf="isWarningPopup" class="mdi mdi-exclamation warning-icon"></i>
                <i *ngIf="isErrorPopup" class="mdi mdi-bug error-icon"></i>
              </div>
              <div class="body my-4">
                {{ Message }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="okClicked()" (click)="modal.close()" >Ok</button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>