
<div class="login_page" [ngStyle]="{height:innerHeight+'px' }">
  <div class="logo_login">
    <img style="
    width: 243px;
    height: 54px;
    margin-bottom: 58px;
" src="assets/images/my_images/hms-logo-6FC6E7E493-seeklogo.com.png" alt="">
  </div>
  <div class="login_wrape bg-white">
    <div class="login_header">
      <h5>Login</h5>
    </div>
    <div class="login_body">
      <div class="wrongPass" *ngIf="isMatched==false">User Name or Passowrd Is Wrong</div>
      <form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form_group">
          <label for="username">User Name</label>
          <input type="text" class="form_control" name="username" formControlName="username" placeholder="User Name"
            [ngClass]="{invalid_field:form.username.invalid && form.username.touched}" />
          <div *ngIf="form.username.invalid && form.username.touched" class="invalid-feedback d-block">
            <div *ngIf="form.username.errors.required" class="invalid-feedback d-block">
              Required
            </div>
          </div>
        </div>
        <div class="form_group">
          <label for="password">Password</label>
          <input type="text" class="form_control" name="password" formControlName="password" placeholder="Password"
            [ngClass]="{invalid_field:form.password.invalid && form.password.touched}" />
          <div *ngIf="form.password.invalid && form.password.touched" class="invalid-feedback d-block">
            <div *ngIf="form.password.errors.required" class="invalid-feedback d-block">
              Required
            </div>
          </div>
        </div>

        <div class="text-center mt-3">
          <button type="submit" class="custom_btn Login_buttons">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
      (closePopup)="closeNotification($event)"></app-warning-popups>
    <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
      (closePopup)="closeNotification($event)"></app-warning-popups>
    <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
      (closePopup)="closeNotification($event)"></app-warning-popups>
  </div>
</div>